In [1]:
import pandas as pd
import numpy as np

/var/folders/h0/w2pddp8n42zbvllvstg67yjh0000gn/T/ipykernel_67125/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_books = pd.read_csv("/Users/yosrnoureddine/Downloads/books.csv")

In [3]:
df_books

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780440e+12,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.781560e+12,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.780140e+12,eng,635,783,56,12/1/1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.780140e+12,eng,415,820,95,8/1/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.780060e+12,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.788500e+12,spa,272,113,12,5/28/2006,Edimat Libros

In [4]:
df_books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [5]:
df_books.loc[df_books.average_rating==1.00]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
3234,11854,Puzzle Pack: The Witch of Blackbird Pond,Mary B. Collins,1.0,1583377824,9.781580e+12,eng,134,2,0,8/15/2005,Teacher's Pet Publications Inc.
9543,37877,Mandala Sand Art Kit,Walter Foster Creative Team,1.0,1560107669,9.781560e+12,eng,8,1,0,1/1/2004,Walter Foster Publishing

In [6]:
df_books.loc[df_books.average_rating<3]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
96,159,Dinner with Anna Karenina,Gloria Goldreich,2.99,778322270,9.780780e+12,eng,360,411,65,1/28/2006,Mira Books
265,799,Out to Eat London 2002 (Lonely Planet Out to Eat),Lonely Planet/Mark Honan,0.00,1740592050,9.781740e+12,eng,295,0,0,9/1/2001,Lonely Planet
375,1302,Juiced Official Strategy Guide,Doug Walsh,0.00,744005612,9.780740e+12,eng,112,0,0,6/1/2005,BradyGames
507,1584,Cliffs Notes on Aristophanes' Lysistrata The ...,W. John Campbell,2.80,822007762,4.908601e+10,eng,80,5,0,12/29/1983,Cliffs Notes
525,1658,American Government: Continuity and Change Al...,Karen O'Connor/Larry J. Sabato,2.83,321317106,9.780320e+12,eng,664,0,0,3/11/2005,Longman Publishing Group
...,...,...,...,...,...,...,...,...,...,...,...,...
10508,42808,P.S. I Love You (Sealed with a Kiss #4),Valerie Parv,2.83,373033664,9.780370e+12,eng,192,23,1,4/24/1995,Harlequin Romance
10512,42831,The Parrot-Head Companion: An Insider's Guide ...,Thomas Ryan,2.83,806520159,9.780810e+12,eng,176,6,0,1/1/1998,Citadel Press
10921,44705,The Leadership Challenge: Skills for Taking Ch...,Warren G. Bennis,0.00,088684049X,9.780890e+12,eng,60,0,0,12/1/1985,AMR/Advanced Management Reports
11031,45259,Anthony Thwaite: In Conversation With Peter Da...,Peter Dale/Ian Hamilton/Anthony Thwaite,0.00,953284123,9.780950e+12,eng,96,0,0,12/9/1999,Between the Lines Productions
11095,45516,The Die Broke Financial Problem Solver,Stephen M. Pollan/Mark LeVine,2.33,66619912,9.780070e+12,en-US,272,3,0,12/26/2000,William Morrow Paperbacks

In [7]:
df_books

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780440e+12,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.781560e+12,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.780140e+12,eng,635,783,56,12/1/1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.780140e+12,eng,415,820,95,8/1/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.780060e+12,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.788500e+12,spa,272,113,12,5/28/2006,Edimat Libros

In [8]:
df_books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

import json
import csv

# Specify the JSON file name
json_file_path = '/Users/yosrnoureddine/Downloads/goodreads_book_authors.json'
csv_file_name = 'authors.csv'

# Open the CSV file for writing
with open(csv_file_name, 'w', newline='') as csv_file:

    # Create a CSV writer
    csv_writer = csv.writer(csv_file)

    # Open the JSON file for reading
    with open(json_file_path, 'r') as json_file:

        # Read and process each line in the JSON file
        for line in json_file:

            try:
                # Load each line as a JSON object
                json_data = json.loads(line)

                # If the CSV file is empty, write the header
                if csv_file.tell() == 0:
                    header = json_data.keys()
                    csv_writer.writerow(header)

                # Write the values to the CSV file
                csv_writer.writerow(json_data.values())

            except json.JSONDecodeError as e:
                print(f"Error decoding JSON: {e}")

# Provide a message indicating the CSV file has been generated
print(f"CSV file '{csv_file_name}' has been generated.")

In [16]:
#authors_split = df_books['authors'].str.split('/', expand=True)
#new_columns = [f'Author_{i+1}' for i in range(authors_split.shape[1])]
#authors_split.columns = new_columns
#df_books = pd.concat([df_books, authors_split], axis=1)
#df_books.to_csv('dfbooks.csv', index=False)
#from IPython.display import FileLink
#FileLink(r'dfbooks.csv')

In [38]:
df_books_splitted = pd.read_csv('/Users/yosrnoureddine/Downloads/dfbooks.csv', sep=';')

In [42]:
df_books_splitted

,bookID,title,Author,Author_2,Author_3,Author_4,Author_5,Author_6,Author_7,Author_8,Author_9,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.57,439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.49,439358078,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.42,439554896,9.780440e+12,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.78,439682584,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann,Larry McCaffery,Michael Hemmingson,NaN,NaN,NaN,NaN,NaN,NaN,4.06,1560254416,9.781560e+12,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.08,140110879,9.780140e+12,eng,635,783,56,12/1/1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.96,140131965,9.780140e+12,eng,415,820,95,8/1/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.72,60878827,9.780060e+12,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.91,8497646983,9.788500e+12,spa,272,113,12,5/28/2006,Edimat Libros

In [41]:
df_books_splitted = df_books_splitted.rename(columns={'Author_1': 'Author'})

In [34]:
df_authors = pd.read_csv('authors.csv')

In [37]:
df_authors

,average_rating_authors,text_reviews_count_authors,Author,text_reviews_count_authors
0,3.98,7,Ronald J. Fields,49
1,4.08,28716,Anita Diamant,546796
2,3.92,5075,Barbara Hambly,122118
3,3.68,36262,Jennifer Weiner,888522
4,3.82,96,Nigel Pennick,1740
...,...,...,...,...
829524,4.36,4,Patty Furbush,11
829525,4.33,3,Jim Schlinkman,6
829526,4.00,2,Rich Jolly,18
829527,3.31,1,sr@ mwrGn,13
829528,3.70,11,Barry S. Brown,43

In [40]:
#df_authors = df_authors.rename(columns={'name': 'Author'})
#df_authors = df_authors.rename(columns={'average_rating': 'average_rating_authors'})
#df_authors = df_authors.rename(columns={'text_reviews_count': 'text_reviews_count_authors'})
#df_authors = df_authors.rename(columns={'ratings_count': 'text_reviews_count_authors'})
#df_authors = df_authors.drop(columns='author_id')

In [43]:
merged_df = pd.merge(df_books_splitted, df_authors, left_on='Author', right_on='Author', how='left', suffixes=('', '_first'))

In [44]:
merged_df

,bookID,title,Author,Author_2,Author_3,Author_4,Author_5,Author_6,Author_7,Author_8,...,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,average_rating_authors,text_reviews_count_authors,text_reviews_count_authors
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,4.44,448570.0,18532721.0
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,4.44,448570.0,18532721.0
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780440e+12,eng,352,6333,244,11/1/2003,Scholastic,4.44,448570.0,18532721.0
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780440e+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,4.44,448570.0,18532721.0
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling,Mary GrandPré,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic,4.44,448570.0,18532721.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11399,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann,Larry McCaffery,Michael Hemmingson,NaN,NaN,NaN,NaN,NaN,...,9.781560e+12,eng,512,156,20,12/21/2004,Da Capo Press,4.08,2901.0,34801.0
11400,45633,You Bright and Risen Angels,William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780140e+12,eng,635,783,56,12/1/1988,Penguin Books,4.08,2901.0,34801.0
11401,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780140e+12,eng,415,820,95,8/1/1993,Penguin Books,4.08,2901.0,34801.0
11402,45639,Poor People,William T. Vollmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.780060e+12,eng,434,769,139,2/27/2007,Ecco,4.08,2901.0,34801.0
11403,45641,Las aventuras de Tom Sawyer,Mark Twain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.788500e+12,spa,272,113,12,5/28/2006,Edimat Libros,4.05,73268.0,4087862.0